.changelog-type-refactor {
    background-color: #c63f94b0;
}
.changelog-type-refactor::before {
    content: "文档重构";
}

.changelog-type-collect {
    background-color: #129207cb;
}
.changelog-type-collect::before {
    content: "文章收录";
}